/* 初始化*/

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{
    margin:0;
    padding:0;
    border:0;
}

body{
    background:#fff;
    color:#000000;
    font-size:12px;
    margin-top:5px;
    font-family:新宋体;
}
ul,ol{
    list-style-type:none;
}
select,input,img,select{
    vertical-align:middle;
}

/* 首页 体检编号等值下划线 */
.line{
    position:relative;
    top:-10px;
    border:2px solid #000;
}
/* 首页 体检编号等标签下划线 */
.line2{
    position:relative;
    top:-10px;
    border:0px solid #000;
}

.sum{
    margin:0 auto;
    width:1240px;
    align:center;
    text-align:center;
    border:0px solid #000;
}

.page {
    width:1240px;
    height:1754px;
    border:solid #060;
}

.user{
    margin:0 auto;
    align:center;
    text-align:center;
    left:0px;
    top:-50px;
    width:1240px;
    height:1754px;
    border: green solid 0px;
}

/*背景图*/
.image{
    position:relative;
    display:inline-block;
    left:0px;
    top:0px;
    width:1240px;
    height:1600;
    border: red solid 0px;
}

/*背景图*/
.image2{
    position:relative;
    display:inline-block;
    left:0px;
    top:0px;
    width:1240px;
    height:1754px;
    border: red solid 0px;
}

/* 人员信息标签 */
.user_tag{
    position:relative;  /*absolute*/
    display:inline-block;
    text-align:left;
    left:0px;
    top:1100px;
    height:auto;
    width:800px;
    border:0px solid #000;
    font-size: 28px;          /*文字大小*/
    font-weight: 700;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
    font-family:新宋体;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
}

/* 人员信息标签 */
.user_tag2{
    position:relative;  /*absolute*/
    display:inline-block;
    text-align:left;
    left:0px;
    top:-700px;
    height:auto;
    width:800px;
    border:0px solid #000;
    font-size: 28px;          /*文字大小*/
    font-weight: 700;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
    font-family:新宋体;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
}

.user_table{
    border:0px solid #000;
}

/*用户标签*/
.user_td_label{
    font-size: 28px;          /*文字大小*/
    font-weight: 700;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
    font-family:新宋体;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
    text-align:right;
    valign:middle;

}
/*用户标签 对应的值*/
.user_td_value{
    font-size: 24px;          /*文字大小*/
    font-family:新宋体;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
    width:180px;
    height:60px;
    valign:middle;
    border-bottom:#000000 solid 3px;
}

/*用户标签 对应的值*/
.user_td_value2{
    font-size: 28px;          /*文字大小*/
    font-family:新宋体;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
    height:auto;
    valign:middle;
    border-bottom:#000000 solid 3px;
    padding:8px;
}

/* 体检编号 */
.user_space{
    position:absolute;
    left:400px;
    width:500px;
}
.user_line{
    position:relative; /*相对定位 */
    left:100px;
    height:2px;
    width:600px;
    border:none;
    border-top:2px ridge green;
}

.user_line2{
    position:relative;
    left:300px;
    height:2px;
    width:200px;
    border:none;
    border-top:2px ridge green;
}

.user_line21{
    position:absolute;
    display:inline-block;
    left:160px;
    height:2px;
    top:100px;
    width:200px;
    border:none;
    border-top:2px ridge green;
}

.user_line22{
    position:absolute;
    display:inline-block;
    left:160px;
    height:2px;
    top:160px;
    width:200px;
    border:none;
    border-top:2px ridge green;
}

.user_td{
    font-size: 28px;          /*文字大小*/
    font-weight: 700;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
    font-family:新宋体;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
    align:center;
    valign:middle;
}

.page_2{
    position:relative;
    top:20px;
    text-align:left;
    left:0px;
    width:1240px;
    height:auto;
}

.page_cachet{
    position:relative;
    top:10px;
    text-align:left;
    left:0px;
    width:1240px;
    height:auto;
    page-break-inside:avoid;
}
.new_page{
    position:relative;
    top:20px;
    text-align:left;
    left:0px;
    width:1240px;
    height:auto;
    page-break-before:left;
}


.page_equip{
    position:relative;
    top:10px;
    text-align:left;
    left:0px;
    width:1240px;
    height:auto;
    page-break-before:left;
}

.page_1{
    top:20px;
    text-align:left;
    left:0px;
    width:1240px;
    height:auto;
}

.page_2{
    position:relative;
    top:20px;
    text-align:left;
    left:0px;
    width:1240px;
    height:auto;
}


.table_pb {
    border-radius:5px;
    table-layout: fixed;
    height:auto;
    width:80%;
    border:1px solid #000;
    cellspacing:0px;
}

.tr_pb{
    height:50px;
    text-align:center;
    border:1px solid #000;
    font-size: 28px;          /*文字大小*/
    font-weight: normal;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
    font-family:微软雅黑;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
}

.tr_pb2{
    height:50px;
    text-align:center;
    border:1px solid #000;
    font-size: 28px;          /*文字大小*/
    font-weight: normal;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
    font-family:微软雅黑;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
}

.td_pb{
    border:1px solid #000;
    width: 100%;
}

.td_pb2{
    border:1px solid #000;
    width: 50%;
}

.w42{
    letter-spacing:2em; /*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-2）/(2-1)=2em */
    margin-right:-2em; /*同上*/
    position: relative;
    left: 23px;
}
.w43{
    letter-spacing:0.5em; /*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-3）/(3-1)=0.5em */
    margin-right:-0.5em; /*同上*/
    position: relative;
    left: 19px;
}

.w32{
    letter-spacing:1em; /*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（3-2）/(2-1)=1em */
    margin-right:-1em; /*同上*/
    position: relative;
    left: 21px;
}

.tj_pb{
    color:#000000;
    position:relative;  /*absolute*/
    display:inline-block;
    text-align:left;
    left:0px;
    height:auto;
    font-size: 28px;          /*文字大小*/
    font-family:微软雅黑;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
}

.tj_pb2{
    color:#000000;
    position:relative;  /*absolute*/
    display:inline-block;
    text-align:left;
    left:0px;
    height:auto;
    font-size: 28px;          /*文字大小*/
    font-weight: 700;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
    font-family:KaiTi;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
}

.tj_xj{
    position:relative;
    top:0px;
    left:0px;
    width:auto;
    height:auto;
    font-size: 24px;          /*文字大小*/
    font-weight: normal;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
    font-family:微软雅黑;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
}

.tj_xj_li{
    margin-top:20px;
}

.tj_xj_content{
     position:relative;
     left:0px;
     top:0px;
     height:auto;
     width:auto;
     font-size: 24px;          /*文字大小*/
     font-weight: normal;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
     font-family:微软雅黑;    /*文本的字体*/
     font-style: normal;     /*normal:默认值  italic:斜体*/
}

.tj_jy_content{
     position:relative;
     left:0px;
     top:0px;
     height:auto;
     width:auto;
     line-height:1.5;
     font-size: 24px;          /*文字大小*/
     font-weight: normal;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
     font-family:微软雅黑;    /*文本的字体*/
     font-style: normal;     /*normal:默认值  italic:斜体*/
}

.tj_xj_content2{
    height:35px;
}

/*温馨提示*/
.table_td_wxts{
     line-height:1.5;
     font-size: 24px;          /*文字大小*/
     font-weight: normal;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
     font-family:微软雅黑;    /*文本的字体*/
     font-style: normal;     /*normal:默认值  italic:斜体*/
}

table{
    align:left;
    height:auto;
    width:100%;
    font-size: 24px;          /*文字大小*/
    font-weight: normal;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
    font-family:新宋体;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
    border-top:3px solid #000;
    border-collapse:collapse;
    padding:3px;
}

/*表格 页眉 */
caption{
    text-align:left;
    font-size: 28px;          /*文字大小*/
    font-weight: 700;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
    font-family:新宋体;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
}

/* 表格 数据头*/
thead{
    text-align:left;
    /*display:table-header-group; */
    border-bottom:3px solid #000;
    /* display: table-row-group;         /* 解决 表头重复和文字重叠的问题. */
}

/*表格 数据行 */
tbody{
    align:left;
    font-size: 24px;          /*文字大小*/
    font-weight: normal;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
    font-family:新宋体;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
}

/*表格 页脚 */
tfoot{
    top:2px;
    text-align:right;
    border-top:2px solid #000;
    page-break-inside: avoid !important;
}
/*  解决 表格的一行被切成了两部分方案
    page-break-before: always;
    page-break-after: always;
    page-break-inside: avoid;
*/

tr{
    page-break-inside:avoid;
    page-break-after:auto;
    padding:3px;
}
/*表格 数据行 */
td{
    width:25%;
    height:35px;
}

/*表格 数据行  异常 */
.table_td{
    color:#FF0000;
    font-weight:700;
}


/*表格 数据行 */
.table_td_pacs{
    align:left;
    font-size: 26px;          /*文字大小*/
    font-weight: 700;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
    font-family:新宋体;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
}

.table_td_pacs_line{
    border-bottom:5px solid #000;
}

.cachet{
    width:100%;
    background-image:url('F:/HMS/app_reportserver/cachet.png');
    background-repeat:no-repeat;
    background-position:top right;
    background-size:300px 225px;
    border-top:0px solid #000;
    right:10px;
}

.no_cachet{
    border-top:0px solid #000;
}

.sign{
    background-image:url('F:/HMS/app_reportserver/cachet.png');
    background-repeat:no-repeat;
    background-position:right;
    border-top:0px solid #000;
}

p{
    text-indent:2em;
}

.bkcf_stitle {
    text-align:center;
}

.bkcf_sstitle {
    color:red;
    text-align:right;
}

.page_health{
    position:relative;
    top:10px;
    text-align:left;
    left:0px;
    width:1240px;
    height:auto;
    page-break-before:left;
}

.tj_health_title{
    position:relative;
    top:0px;
    left:0px;
    width:auto;
    height:auto;
    font-size: 16px;          /*文字大小*/
    font-weight: 700;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
    font-family:新宋体;    /*文本的字体*/
    font-style: normal;     /*normal:默认值  italic:斜体*/
}

.tj_health_content{
     position:relative;
     left:0px;
     top:0px;
     margin-top:15px;
     line-height:1.8;
     height:auto;
     width:auto;
     font-size: 24px;          /*文字大小*/
     font-weight: normal;        /*值从100-900，文字粗细,700约等于Bold，不推荐使用font-weight:bold; */
     font-family:新宋体;    /*文本的字体*/
     font-style: normal;     /*normal:默认值  italic:斜体*/
}
.table_health{
    page-break-inside:avoid;
}